---
import Iconsrow from "../../components/Iconsrow.astro";
---

<section class="full-service">
  <div class="full-service-inner">
    <div class="text-side">
      <div class="text-content">
        <h2>The Toy Shop is a full services shop.</h2>
        <div class="icon-row-wrapper">
          <Iconsrow />
        </div>
        <p>
          The Toy Shop have ASE Certified technicians that are able to perform
          any repair from a basic oil change service to engine/<wbr
          />transmission repair or replacement. We only use factory made parts
          for the vehicles we service so that you are getting a quality part for
          half the price that the dealership charges you.
        </p>
      </div>
    </div>

    <div class="image-side">
      <img
        src="/assets/photos/WhiteCarRear.jpg"
        alt="White Car"
        loading="lazy"
      />
    </div>
  </div>
</section>

<style>
  .full-service {
    padding: 0;
  }

  .full-service-inner {
    display: flex;
    flex-wrap: wrap;
    background-color: #24222c;
  }

  .text-side {
    display: flex;
    justify-content: right;
    flex: 1 1 50%;
    min-width: 500px;
    color: #fff;
    padding: 0 0 0 3rem ;
    align-items: center;
    box-sizing: border-box;
  }
  @media (max-width: 1100px) {
  .text-side {
    justify-content: center;
  }
  .text-content {
    max-width: 100%;   
        margin: auto;
  }
}

  .text-content {
    max-width: 700px;
    padding: 4rem 4rem 5rem 0;
    max-width: 600px;
    margin: 0;
  }
  

  .text-content h2 {
    font-family: "apotek-extrawide", sans-serif;
    color: #fff;
    font-size: clamp(3.5rem, 5vw, 5rem);
    line-height: 95%;
    margin-bottom: 0.2rem;
    text-wrap: balance;
  }

  .text-content p {
    line-height: 1.6;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    line-height: 180%;
    text-wrap: pretty;
  }

  .image-side {
    flex: 1 1 50%;
    min-width: 500px;
    box-sizing: border-box;
  }

  .image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }




</style>
