---
import Iconsrow from "../../components/Iconsrow.astro";
---

<section class="full-service">
  <div class="full-service-inner">
    <div class="text-side">
      <div class="text-content">
        <h2>The Toy Shop is a full services shop.</h2>
        <Iconsrow />
        <p>
          The Toy Shop have ASE Certified technicians that are able to perform any repair from a basic oil change
          service to engine/transmission repair or replacement. We only use factory made parts for the vehicles we
          service so that you are getting a quality part for half the price that the dealership charges you.
        </p>
      </div>
    </div>

    <div class="image-side">
      <img src="/assets/photos/WhiteCarRear.jpg" alt="Full service shop" loading="lazy" />
    </div>
  </div>

<div class="services-include">
    <h3>Services include</h3>
    <Iconsrow />

    <ul class="service-list">
      <li>Complete Computer Diagnostics</li>
      <li>Complete Safety Analysis</li>
      <li>Drivability Problems</li>
      <li>Tune-ups</li>
      <li>Oil Changes</li>
      <li>Brake repair specialist</li>
      <li>Steering and Suspensions</li>
      <li>Free check engine light scans</li>
      <li>A/C diagnostics and repair</li>
    </ul>
  </div>
</section>

<style>
    
</style>