---
import ServiceCard from "../../components/ServiceCard.astro";
import CouponCard from "../../components/CouponCard.astro";

const specials = [
  {
    title: "$59.99+Tax up to 5 Quart Oil Change Service",
    image: "public/assets/photos/OilChange.jpg",
    alt: "Oil change service",
    description: `Free multipoint inspection with all oil changes.
    Oil changes that require more than 5 quarts will be charged at 
    non-discounted prices for the remaining quarts. Limit 1 Per Vehicle.`,
  },
  
  {
    title: "The Toy Shop Timing Belt Special",
    image: "public/assets/photos/FactoryService.jpg",
    alt: "Timing belt service",
    description: `Free timing belt with service-pay only for the labor!
    Includes all Toyota, Honda, Subaru, Nissan equipped with timing belts.
    Recommend to replace water pump with service. Only OEM parts used.`,
  },
];

const coupons = [
  {
    amount: "$10 Off",
    description: "Any repair or maintenance service of $100 and up."
  },

   {
    amount: "$20 Off",
    description: "Any repair or maintenance service of $200 and up."
  },

   {
    amount: "$50 Off",
    description: "Any repair or maintenance service of $600 and up."
  },
];
---

<section class="specials">
  <div class="specials-header">
    <h1>Ongoing specials</h1>
    <span class="line"></span>
  </div>

  <div class="card-grid">
    {specials.map(service => (
      <ServiceCard {...service} />
    ))}
  </div>

  <div class="coupon-grid">
    {coupons.map(coupon => (
      <CouponCard {...coupon} />
    ))}
  </div>

</section>

<style>
.specials {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 1000px;
  margin: 6rem auto;
}

.specials-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.specials-header .line {
  flex: 1;
  height: 2px;
  background: #000;
  opacity: 0.8;
}

.specials h1 {
  font-family: "apotek-extrawide", sans-serif;
  margin-bottom: 1rem;
  color: #414141;
  margin: 0;
  white-space: wrap;
  display: flex;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 2rem;
  justify-items: center;
  margin-bottom: 2rem;
}

.coupon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  gap: 2rem;
  justify-items: center;
  margin-bottom: 2rem;
}

</style>
