---
const logos = [
  { src: "/assets/logos/acura-logo.png", alt: "Acura" },
  { src: "/assets/logos/honda-logo.png", alt: "Honda" },
  { src: "/assets/logos/kia-logo.png", alt: "Kia" },
  { src: "/assets/logos/lexus-logo.png", alt: "Lexus" },
  { src: "/assets/logos/mazda-logo.png", alt: "Mazda" },
  { src: "/assets/logos/mitsubishi-logo.png", alt: "Mitsubishi" },
  { src: "/assets/logos/nissan-logo.png", alt: "Nissan" },
  { src: "/assets/logos/subaru-logo.png", alt: "Subaru" },
  { src: "/assets/logos/toyota-logo.png", alt: "Toyota" },
  { src: "/assets/logos/hyundai-logo.png", alt: "Hyundai" },
];
---

<div class="car-logo-row">
    {logos.map(logo => (
     <img src={logo.src} alt={logo.alt} loading="lazy" />
     ))}
</div>

<style>

.car-logo-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: clamp(0.1rem, 2vw, 1.5rem);
}

.car-logo-row img {
  flex: 0 1 auto;
   height: clamp(30px, 4vw, 45px);
  width: auto;
}

</style>

