---
import ToyLogo from "../assets/toyshoplogow.svg";
---

<nav>
  <div class="container">
    <div id="logo">
      <a href="/">
        <img src={ToyLogo.src ?? ToyLogo} alt="The Toy Shop" />
      </a>
    </div>
  </div>
</nav>

<style>
  .container {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
  #logo img {
    height: 45px;
  }

  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #24222c;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.1);
  }
</style>
