---
import ToyLogo from "../assets/toyshoplogow.svg";

const currentYear = new Date().getFullYear();
---

<footer class="footer">
    <div class="footer-columns">
      <div class="footer-left">
        <img src={ToyLogo.src ?? ToyLogo} alt="The Toy Shop" class="logo" />
        <p>
          You're always treated like family here at The Toy Shop! We appreciate your time
          and business! Hope to see you soon!
        </p>
        <p id="copyright"> ©{currentYear} The Toy Shop. All Rights Reserved.
          <!-- <a href="/privacy-policy">Privacy Policy</a> -->
        </p>
      </div>
  
    <div class="footer-middle">
  <div class="footer-section map-wrap">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2344.8363936763067!2d-120.93141106492784!3d38.66568926528647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809af79011a14c03%3A0xc4bc87c1290cdf0b!2sThe%20Toy%20Shop!5e0!3m2!1sen!2sus!4v1763988037339!5m2!1sen!2sus”"
      loading="lazy">
    </iframe>
  </div>
  <div class="contact-info">
        <p class="phone"><a href="tel:5306770989">530-677-0989</a></p>
        <a href="mailto:info@ToyShopAutoRepair.com" class="email">info@ToyShopAutoRepair.com</a>
        <p class="address"> 
          4241 SUNSET LANE<br />
          Shingle Springs, CA 95682
        </p>
   </div>
    </div>

    <div class="footer-right">
      <div class="night-drop">
        <img src="/assets/logos/Moon-icon.png" alt="Night Drop" class="icon" />
        <p class="night-title">NIGHT DROP AVAILABLE.</p>
      </div>
        <p class="hours">Open Monday-Friday 8:00am-5:00pm</p>

    <a class="facebook" href="https://www.facebook.com/profile.php?id=100089926239421" target="_blank" rel="noopener noreferrer">
      <img src="/assets/logos/FB-logo.png" alt="Facebook Logo" class="icon fb" />
      <p>Like us on Facebook for promotional offers and deals!</p>
    </a>
  </div>
</footer>

<style>
  .footer {
    background-color: #414141;
    color: #fff;
    padding: 2.5rem 0;
    width: 100%;
    padding: 2rem;;
    margin: 0 auto;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
 } 

  .footer-columns {
    width: 1200px;
    display: grid;
    grid-template-columns: 275px 1fr 275px;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin: 0 auto;}
 
  .footer-left p {
    font-size: 1rem;
    line-height: 1.5;
 }

  .logo {
    height: 48px;
    padding: 0;
    margin: 0;
  }

  #copyright {
    font-size: 0.75rem;
    paddingop: 1rem;
 }

  /* .copyright a {
    color: #fff;
    text-decoration: underline;
 } */

 /* Middle */

  .footer-middle {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .map-wrap iframe {
    width: 250px;
    height: 140px;
    object-fit: cover;
    margin: 0;
  }

  .contact-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  .contact-info p,
  .contact-info a {
    margin: 0;
    padding: 0;
  }

  .map, .contact-info {
    margin: 0;
    padding: 0;
  }

  .phone a {
    text-decoration: none;
    font-family: "apotek-extrawide", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #f0503a;
    white-space: nowrap;
    margin: 0;
  }

  .email, a {
    font-size: 1rem;
    color: #fff;
  }

  .contact-info .email {
    margin-bottom: 1rem;
  }

  .address {
    font-size: 1.2rem;
    white-space: nowrap;
    line-height: 1.5;
  }

/* RIGHT */

  .footer-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .night-drop {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .night-drop .icon {
    height: 2.5rem;
  }

  .night-title {
    font-size: 1.2rem;
    margin: 0;
  }

  .hours {
    font-size: 1rem;
    margin: 0;
  }

  .facebook {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .facebook .fb {
    height: 1.75rem;
  }

  .facebook .p {
    font-size: 1rem;
  }
</style>
