---
import ToyLogo from "../assets/toyshoplogow.svg";

const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col left">
        <img src={ToyLogo.src ?? ToyLogo} alt="The Toy Shop" class="logo" />
        <p>
          You're always treated like family here at The Toy Shop! We appreciate
          your time and business! Hope to see you soon!
        </p>
        <p id="copyright">
          ©{currentYear} The Toy Shop. All Rights Reserved.
          <!-- <a href="/privacy-policy">Privacy Policy</a> -->
        </p>
      </div>
      <div class="footer-col map-col">
        <div class="map">
          <div class="mapbox">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.273108382166!2d-120.93197008682603!3d38.66559106022803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809af79011a14c03%3A0x4facf5eb1fe32b3b!2sThe%20Toy%20Shop!5e0!3m2!1sen!2sus!4v1764018846849!5m2!1sen!2sus"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="contact-info">
            <p class="phone"><a href="tel:5306770989">530-677-0989</a></p>
            <a href="mailto:info@ToyShopAutoRepair.com" class="email"
              >info@ToyShopAutoRepair.com</a
            >
            <p class="address">
              4241 SUNSET LANE<br />
              Shingle Springs, CA 95682
            </p>
          </div>
        </div>
      </div>
      <div class="footer-col right">
        <div class="night-drop">
          <img
            src="/toyshop/assets/logos/Moon-icon.png"
            alt="Night Drop"
            class="icon"
          />
          <p class="night-title">NIGHT DROP AVAILABLE.</p>
        </div>
        <p class="hours">Open Monday-Friday 8:00am-5:00pm</p>
        <a
          class="facebook"
          href="https://www.facebook.com/profile.php?id=100089926239421"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/toyshop/assets/logos/FB-logo.png"
            alt="Facebook Logo"
            class="icon fb"
          />
          <p>Like us on Facebook for promotional offers and deals!</p>
        </a>
      </div>
    </div>
  </div>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      line-height: 1.5rem;
      text-wrap: pretty;
    }

    .map {
      display: flex;
    }

    .footer {
      background-color: #414141;
      color: #fff;
      padding: 2rem 0;
    }
    .footer-col.map-col {
      flex: 2;
      min-width: 400px;
    }
    .footer .container {
      max-width: 1200px;
      margin: auto;
      padding: 0 2rem;
    }

    .footer .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 3rem;
      align-items: center;
    }

    .footer-col {
      flex: 1;
      flex-direction: column;
      min-width: 250px;
      margin-bottom: 20px;
    }
    .footer-col iframe {
      width: 100%;
      border: 0;
    }
    .footer-col ul li a {
      color: #bbb;
      text-decoration: none;
      transition: color 0.3s;
    }

    .footer-col ul li a:hover {
      color: #fdf499;
    }

    .logo {
      align-self: start;
      height: 48px;
      padding: 0;
      margin: 0;
    }

    .facebook .fb {
      height: 36px;
    }

    .night-drop .icon {
      height: 2.5rem;
    }

    #copyright {
      font-size: 0.75rem;
      padding-top: 1rem;
    }

    .phone a {
      text-decoration: none;
      font-family: "apotek-extrawide", sans-serif;
      font-size: 2rem;
      font-weight: 700;
      color: #f0503a;
      white-space: nowrap;
      margin: 0;
      line-height: 1rem;
    }

    .night-title {
      font-size: 1.2rem;
    }

    .night-drop,
    .facebook {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding-bottom: 1rem;
    }

    .facebook {
      gap: 1rem;
    }

    .mapbox {
      padding-right: 1rem;
    }

    .email,
    a {
      color: #fff;
    }
    @media screen and (max-width: 1059px) {
      .footer-col.map-col {
        order: 1;
      }
    }
    @media screen and (max-width: 575px) {
      .footer .row {
        gap: 0.5rem;
      }
    }
  </style>
</footer>
