---

---

<section class="hero">
  <img
    src="/toyshop/assets/photos/HeroImg.jpg"
    alt="Car engine background"
    class="hero-bg"
  />
  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>Toyota & Honda Specialists.</h1>
    <p>
      Have a Toyota, Lexus, Honda, Acura, Subaru, Nissan, Kia, Hyundai, or Mazda
      From major mechanical work to basic service, our ASE certified technicians
      are here to help.
    </p>

    <div class="btn-group">
      <button
        class="button"
        type="button"
        onclick="onShowBooking('d4156edb-ca3a-4e73-bd01-c60ba4bd8e94')"
        >BOOK AN APPOINTMENT</button
      >
      <button
        class="button secondary"
        onclick="window.location.href='tel:+15305551234'">CALL US</button
      >
    </div>
  </div>
</section>

<style>
  .hero {
    position: relative;
    width: 100%;
    min-height: 60vh;
    text-align: left;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) brightness(60%);
    z-index: 0;
  }

  .hero-overlay {
    position: absolute;
    inset: 0;
    background: hwb(0 0% 100% / 0.4);
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    padding: 3rem;
  }

  .hero h1 {
    font-family: "apotek-extrawide", sans-serif;
    font-size: clamp(5rem, 10vw, 8rem);
    line-height: 95%;
    margin: 0;
    padding-bottom: clamp(0rem, 1vw, 1rem);
  }

  .hero p {
    font-size: 1.3rem;
    line-height: 150%;
    max-width: 800px;
    margin: 0;
    text-wrap: pretty;
    padding-bottom: clamp(2rem, 3vw, 4rem);
  }

  .btn-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .button {
    background: #f0503a;
    border: 1px solid #fff;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
  }

  .button.secondary {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    cursor: pointer;
  }

  .button.secondary:hover {
    background: rgba(255, 255, 255, 0.5);
  }
</style>
