---
const { title, image, alt, description } = Astro.props;
---

<div class="serviceb-card">
  <div class="serviceb-image">
    <img src={image} alt={alt} loading="lazy" />
  </div>
  <div class="serviceb-content">
    <h3 set:html={title} />
    <p>{description}</p>
  </div>
</div>

<style>
  * {
    margin: 0;
  }
  .serviceb-card {
    display: flex;
    flex-direction: column;
    background-color: #21222c;
    color: #fff;
    overflow: hidden;
    flex: 1;
  }

  .serviceb-image {
    width: 100%;
    overflow: hidden;
  }

  .serviceb-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .serviceb-content {
    padding: 1.25rem 0;
    background-color: #24222c;
    text-align: left;
  }

  .serviceb-content h3 {
    font-family: "apotek-extrawide", sans-serif;
    color: #fdf499;
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
    font-weight: 700;
    text-align: left;
    text-wrap: balance;
  }

  .serviceb-content p {
    font-size: 1.2rem;
    line-height: 180%;
    color: #fff;
    text-align: left;
  }
</style>
