---
const { title, image, alt, description } = Astro.props;
---

<div class="service-card">
  <div class="service-image">
    <img src={image} alt={alt} loading="lazy" />
    <h3>{title}</h3>
  </div>
  <div class="service-content">
    <p>{description}</p>
  </div>
</div>

<style>

.service-card {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #f0efef;
  overflow: hidden;
  max-width: 400px;
  min-width: 300px;
  flex: 1;
}

.service-image {
  position: relative;
  overflow: hidden;
}

.service-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  filter: grayscale(100%) brightness(60%);
}

.service-image h3 {
  position: absolute;
  bottom: 12px;
  left: 16px;
  color: #fdf499;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}

.service-content {
  padding: 1.25rem;
  background-color: #3a3a3a;
  text-align: left;
}

.service-content p {
  line-height: 1.6;
  color: #f0efef;
  text-align: left;
}

</style>