<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>The Toy Shop</title>

    <link rel="preconnect" href="https://use.typekit.net" crossorigin />

    <link rel="stylesheet" href="https://use.typekit.net/fgb4dgi.css" />

    <!-- Google Tag Manager -->
    <script is:inline>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NP2BB6SS');
    </script>
    <!-- End Google Tag Manager -->

  </head>

  <body>
     <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP2BB6SS"
        height="0"
        width="0"
        style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
     
    <slot />
  </body>
</html>

<style>
  html, body {
    overflow-x:hidden;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-variation-settings:
      "slnt" 0,
      "wght" 400;
  }

  h1,
  h2,
  h3 {
    font-family: "apotek-extrawide", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  p,
  a,
  li,
  span,
  input,
  button {
    font-family: "inter-variable", sans-serif;
    font-variation-settings:
      "slnt" 0,
      "wght" 400;
  }
</style>
<script is:inline>
  window.onload = function () {
    const script = document.createElement("script");
    script.src =
      "https://booking.tekmetric.com/iframe/modal.js?time=" +
      new Date().getTime();
    script.defer = true;
    document.body.appendChild(script);

    const link = document.createElement("link");
    link.rel = "stylesheet";
    link.href =
      "https://booking.tekmetric.com/iframe/modal.css?time=" +
      new Date().getTime();
    document.head.appendChild(link);
  };
</script>
